* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Body element selector match ln 10 htmml */
body {
  background-color: #eaeaea; /* background-color: white; */
  width: 100%;
}

/* HEADER -- styling - classe selector match ln 12 header class="header">*/
.header {
  position: absolute;
  top: 0; /*at the very top there is no gap between the parent & child- its very closet to the top of the screen*/
  left: 0;
  width: 100%;
  background-color: black;
  padding-block: 10px;
  z-index: 4;
}

/* Header containe match  <div class="container"> is a direct chld of the header*/
.header .container {
  /* this is selector wants to style the container that only direct child of the header */
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  height: 50px;
  align-items: center;
  padding-inline: 50px;
}

/* Match anchor tag (or element) on ln 20, to 23 which is a direct grand-child of the header*/
.header a {
  color: lightblue;
  text-decoration: underline;
}

/* navbar-list class selector match ln 19 <ul class="navbar-list">*/
.navbar-list {
  display: flex;
  gap: 16px;
}
/* .navbar-link class selector match ln 20 -23  <ul class="navbar-list">
<li><a href="#aboutme" class="navbar-link">About me</a></li>
li><a href="#work" class="navbar-link">Work</a></li>
<li><a href="#contactme" class="navbar-link">Contact me</a></li>
<li><a href="#Resume" class="navbar-link">Resume</a></li>*/

.navbar-link {
  font-size: 25px;
  color: lightblue;
  text-decoration: underline;
}

/* HERO */
/* class hero match line 31 <div class="hero"> on html. */

.hero {
  position: relative;
  padding-block-start: 100px;
  background-color: lightblue;
  height: 400px;
  background-image: url("/assets/Images/0f96da3f-e38c-49c0-807c-c30bccc0d67f.JPG");
  background-repeat: repeat;
}

.card {
  background-image: url("");
  width: 100%;
  height: 100px;
  border: 5px solid #5cdde1;
}

/* match line 33 on htmal - <div class="subtitle"> */
.subtitle {
  font-size: 25px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: lightblue;
  padding-inline: 10px;
  margin-inline: 40px;
  margin-block: 10px;
}

/* Match ln 41 on html section class="section">*/
.section {
  padding-inline: 50px;
  padding-block: 50px;
}

/* Section 2 - Work match ln 68 */
/* match the <div class="container"> on ln 42 html which is a direct child of session*/
.section .container {
  display: flex;
  gap: 12px;
}

/* match ln 43 <div class="section-title"> on html */
.section-title {
  width: 30%;
  border-right: 8px solid black;
}

/* Match ln 72  <h2>Work</h2> whitch is a direct child of section-title */
.section-title h2 {
  display: inline-block;
  direction: rtl;
  width: 100px;
  position: relative;
  margin-left: 80%;
  font-size: 50px;
}

/* Match ln 74  <div class="section-info"> */
.section-info {
  padding-inline: 20px;
  width: 70%;
}

/* match  <div class="featured-work"> ln 75*/

.featured-work {
  background-image: url("/assets/Images/67946c5a-32fa-4946-9eb2-720138c5ef75.JPG");
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  border: 5px solid lightblue;
  height: 150px;
}

/* Match <div class="work-card"> ln 84 html */
.work-card {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding-block: 8px;
}

/* Match <div class="card">, <div class="card">ln 85, <div class="card"> ln 92, <div class="card"> ln 101, ln 108*/
.card-1 {
  background-image: url("/assets/Images/LED_Wall-240_F_222683930_mXWfHnOk9spCYOyEhqXNSWbWhZd4dFKF.jpg");
  width: 100%;
  height: 100px;
  border: 5px solid lightblue;
}
.card-2 {
  background-image: url("/assets/Images/Calculator-istockphoto-654067468-612x612.jpg");
  width: 100%;
  height: 100px;
  border: 5px solid lightblue;
}
.card-3 {
  background-image: url("/assets/Images/Pastel_Puzzels-istockphoto-1299443466-612x612.jpg");
  width: 100%;
  height: 100px;
  border: 5px solid lightblue;
}

.card-4 {
  background-image: url("/assets/Images/Run_Buddy-istockphoto-1726132314-612x612.jpg");
  width: 100%;
  height: 100%;
  border: 5px solid lightblue;
}

/* Match ln 77 on html <span class="label-text"> */
.label-text {
  display: inline-block;
  background-color: lightblue;
  position: relative;
  margin-block: auto;
  padding-inline: 10px;
}

/* Match ln 86 <span class="text-label"> , ln 93 <span class="text-label">, ln 102<span class="text-label">, ln 109 <span class="text-label"> */
.text-label {
  display: inline-block;
  background-color: lightblue;
  position: relative;
  margin-block: 20px;
  padding-inline: 10px;
}

/* Match ln 126 <ul class="contact-list"> */
.contact-list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
/* Match ln <div class="cont-me"> instead than name it container */
.cont-me {
  padding-block: 20px;
}

/* Match 126  <ul class="contact-list"> Parent and child achor <a> list from ln 127-131. */
.contact-list a {
  text-decoration: underline;
  color: black;
  font-size: 25px;
  align-items: center;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* Match ln 127-131 <li> which is direct child of list <ul class="contact-list">*/
.contact-list li {
  list-style-type: none;
}

/* Media Query Responsinve for large 575px */
/* @media (max-width: 575px) {
.section .container {
flex-direction: column; 
} */


