* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Body element selector match ln 10 htmml */
body {
  background-color: #eaeaea; /* background-color: white; */
  width: 100%;
}

/* Header styling - classe selector match ln 12 header class="header">*/

.header {
  position: absolute;
  top: 0; /*at the very top there is no gap between the parent & child- its very closet to the top of the screen*/
  left: 0;
  width: 100%;
  background-color: black;
  padding-block: 10px;
  z-index: 4;
}
/* Header containe match  <div class="container"> is a direct chld of the header*/
.header .container {
  /* this is selector wants to style the container that only direct child of the header */
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  height: 50px;
  align-items: center;
  padding-inline: 50px;
}
/* navbar-list class selector match ln 19 <ul class="navbar-list">*/
.navbar-list {
  display: flex;
  gap: 16px;
}
/* .navbar-link class selector match ln 20 -23  <ul class="navbar-list">
<li><a href="#aboutme" class="navbar-link">About me</a></li>
li><a href="#work" class="navbar-link">Work</a></li>
<li><a href="#contactme" class="navbar-link">Contact me</a></li>
<li><a href="#Resume" class="navbar-link">Resume</a></li>*/

.navbar-link {
  font-size: 25px;
  color: aqua;
  text-decoration: underline;
}

/* class hero match line 31 <div class="hero"> on html. */
.hero {
  position: relative;
  padding-block-start: 100px;
  background-color: lightblue;
  height: 400px;
  background-image: url(""); 
  background-repeat: no-repeat;
}

/* match line 33 on htmal - <div class="subtitle"> */
.subtitle {
  font-size: 25px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: aqua;
  padding-inline: 10px;
  margin-inline: 40px;
  margin-block: 10px;
}

/* to give space from the hero div top*/
.section {
  padding-inline: 50px;
  padding-block: 50px;
}

.section .container {
  display: flex;
  gap: 12px;
}

.section-title {
  width: 30%;
  border-right: 8px solid black;
}

/* about me, work, contact me, margins inside the section title area  */
.section-title h2 {
  display: inline-block;
  direction: rtl;
  width: 100px;
  position: relative;
  margin-left: 80%;
  font-size: 50px;
}

.section-info {
  padding-inline: 20px;
  width: 70%;
}

.featured-work {
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg");
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  border: 5px solid #5cdde1;
  height: 150px;
}

.work-card {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding-block: 8px;
}

.card {
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg");
  width: 100%;
  height: 100px;
  border: 5px solid #5cdde1;
}

.label-text {
  display: inline-block;
  background-color: #5cdde1;
  position: relative;
  margin-block: auto;
  padding-inline: 10px;
}

.text-label {
  display: inline-block;
  background-color: #5cdde1;
  position: relative;
  margin-block: 20px;
  padding-inline: 10px;
}

.contact-list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.cont-me {
  padding-block: 20px;
}

.contact-list a {
  text-decoration: underline;
  color: black;
  font-size: 25px;
  align-items: center;
font-weight: bold;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact-list li {
  list-style-type: none;
}

/* Hyperlink styling */
.header a {
  color: #60c5ff;
  text-decoration: none;
}


.work {
  text-align: center;
}

